:root {
  --body-bg: #f2d4cb;

  --header-bg: #000000;
  --header-text: #f796d7;

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: #e49db1;

  --card-bg: #6de4587b;
  --card-text: #000000;
}