:root {
  --body-bg: #dfc7ce;

  --header-bg: #201e1d;
  --header-text: #eca6d0;

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: #f497cd;

  --card-bg: #21f4167b;
  --card-text: #201e1d;
}