:root {
  --body-bg: #e6bdb1;

  --header-bg: #000000;
  --header-text: #f7ac96;

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: #e49db1;

  --card-bg: #6de4587b;
  --card-text: #000000;
}